<script>
   var num1= prompt("Enter Any number:","")
   var num2= prompt("Enter Any number:","")

   num1=parseInt(num1);
   num2=parseInt(num2);

   document.write(num1+num2);
   //window.alert(num1+num2);
   //console.log(num1+num2);

 //  document.getElementById("result").innerHTML=num1+num2;
</script>


<p id="result"></p>